@charset "UTF-8";

/**
 * Box Sizing - Border Box FTW
 * @Url http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@import "settings";
@import "mixins";
@import "generator";

.container {
  background-color: #e0e0e0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.col-content {
  padding: 2em 0;
  margin: 5px 0;
  text-align: center;
  background-color: #efefef;
}
