@charset "UTF-8";

@import "../../settings";
@import "../../grid";
@import "../../generator";

body {
  &:before {
    background: #8C8C8C;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    content: "xxs";
    display: block;
    font-family: monospace;
    padding: 0.25em 0.5em;
    position: fixed;
    left: 0;
    top: 0;
    z-index: z-index(9999);

    @each $bp in xs, sm, md, lg, xl {
      @include breakpoint($bp) { content: "#{$bp}"; }
    }
  }
}

.container {
  background-color: #e0e0e0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.col-content {
  padding: 2em 0;
  margin: 5px 0;
  text-align: center;
  background-color: #efefef;
}
